@font-face {
    font-family: Apercu;
    src: url(../fonts/ApercuPro.woff2);
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova-Regular.woff);
}

@font-face {
    font-family: ApercuMedium;
    src: url(../fonts/ApercuProMedium.woff2);
}